*{
    box-sizing: border-box;
}
body{
 
    font-family: 'Poppins', sans-serif;
   
}
.logo{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.image-one{
display: none;
}
/* body{
    background: url(./images/image.svg);
    /* background-position-y: bottom; */
    /* background-position-x:-200px ;
    background-size: cover;

    
} */

.container{
    width: 100%;
    overflow:hidden;
    text-align: center;
}
main{
  /* width: 100%; */
    /* backdrop-filter: blur(40px);/ */
    display: flex;
    justify-content: center;
    height: 100vh;
}
.form-container{
   margin: 20px;
}
header{
    display: flex;
    flex-direction: column;

}
.arrow{

    margin: 10px;
    width: 5%;
    height: 10%;
}

input{
    width: 80%;
    border:none;
    /* padding: 15px; */
    background: transparent;
}
.button{
    text-align: center;
}
button{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: black;
    border-radius: 12px;
    color: white;
    border: none;
}
.arrow-button{
   margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: start;
    
}
i{
    padding: 15px;
    margin-top: 15px;
    border: 1px solid rgba(10, 10, 10, 0.151);
    display: flex;
    justify-content: space-between;
    font-style: normal;
    border-radius: 10px;

}
p{
    color: gray;
}
.icon{
    width:10%;
}
.check{
    width: 15px;
    background: transparent;
}
figure{
    margin: 0;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
@media screen and (min-width: 800px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        scroll-behavior: smooth;
        margin: 0;
    }
    .image-one{
width: 80%;
        display: flex;
        justify-self: center;
        margin: 120px;

    }
    .container{
        background-color: rgba(250, 221, 159, 0.288);
        width: 100vw;
        overflow: scroll;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        /* border: 2px solid orange; */
        margin: 0;
        overflow-x: hidden;
    
        /* height: 60%; */
    
    }
    .desktop-image{
        
        background-size: cover;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

      

    }
    .text-container, .form-container{
        display: flex;
        flex-direction: column;
       
    }
    .text-container{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-top: 150px;
        margin-bottom: 100px; */
    }
   .form{
    background-color: white;
       margin: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
    .logo{
        display: none;
    }
    i{
        padding: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-style: normal;
        border-radius: 10px;
    
    }
    .arrow{
        display: block;
    }
}
/* .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 2px solid orange;

}
.text-container, .form-container{
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
} */
